/* * * * * * * * * * Global * * * * * * * * * */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 10vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* * * * * * * * * * Homepage * * * * * * * * * */

/* Header Layout */

header {
    text-align: center;
    background-color: aliceblue;
}

header h1 {
    margin: 0;
    padding: 2em;
}

.controls {
    display: block flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
}

.details {
    display: block flex;
    justify-content: left;
    align-items: center;
}

/* Filter Buttons */

.filters {
    display: inline flex;
}

.filters button {
    padding: 1em;
    border: none;
    font-family: inherit;
    font-size: 100%;
    /* background-color: transparent; */
}

.filters button:hover {
    cursor: pointer;
}

/* Create Button */

.controls a {
    padding: 1em;
    text-decoration: none;
    font-size: 100%;
}

/* Details Bar */

.details h2 {
    margin: 1em;
    font-size: 1em;
}

/* * * * * * * * * * Task Item * * * * * * * * * */

main ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main ul article {
    display: block grid;
    grid-template-areas:
        "title       deadline    complete edit"
        "description description complete delete";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 2fr 1fr 1fr;
    background-color: deepskyblue;
}

main ul article h2 {
    grid-area: title;
    margin: 0;
}

main ul article h3 {
    grid-area: deadline;
}

main ul article p {
    grid-area: description;
}

main ul article .complete-button {
    grid-area: complete;
}

main ul article a {
    grid-area: edit;
}

main ul article .delete-button {
    grid-area: delete;
}

/* * * * * * * * * * Form * * * * * * * * * */


