/* * * * * * * * * * Global * * * * * * * * * */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0 10vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* * * * * * * * * * Homepage * * * * * * * * * */

/* Header Layout */

header {
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 2em;
}

.controls {
    display: block flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid #000;
}

.details {
    display: block flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Filter Buttons */

.filters {
    display: inline flex;
    align-items: center;
}

.filters button {
    padding: 0.5em 1em;
    border: none;
    font-family: inherit;
    font-size: 100%;
    background-color: transparent;
}

.filters button:focus {
    outline: 2px solid #000;
}

.filters button:hover {
    background-color: #EEE;
    cursor: pointer;
}

/* Create Button */

.link-button {
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 100%;
    color: #000;
}

.link-button:focus {
    outline: 2px solid #000;
}

.link-button:hover {
    background-color: #EEE;
    cursor: pointer;
}

/* Details Bar */

.details h2 {
    margin: 0.5em 1em;
    font-size: 1em;
    font-weight: 600;
}

/* * * * * * * * * * Task Item * * * * * * * * * */

main ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main ul li {
    margin: 3em 0;
}

main ul article {
    display: block grid;
    padding: 2em;
    grid-template-areas:
        "title       deadline    complete edit"
        "description description complete delete";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 2fr 1fr 1fr;
    border-radius: 1em;
    box-shadow: 0 0 1em #AAA;
}

main ul article h2 {
    grid-area: title;
    margin: 0;
    /* padding: 1em; */
}

main ul article h3 {
    grid-area: deadline;
    font-size: 1em;
}

main ul article p {
    grid-area: description;
    margin: 0;
    /* padding: 1em; */
}

.centre {
    display: block flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.complete-container {
    grid-area: complete;
}

.edit-container {
    grid-area: edit;
}

.delete-container {
    grid-area: delete;
}

/* Task Item Icon Button */

.icon-button {
    padding: 0.2em;
    font-size: 2rem;
}

.complete-container .icon-button {
    color: green;
}

.edit-container .icon-button {
    color: blue;
}

.delete-container .icon-button {
    color: red;
}

article button {
    padding: 0;
    border: none;
    background-color: transparent;
}

article button:hover {
    cursor: pointer;
}

/* * * * * * * * * * Form * * * * * * * * * */

.form-heading {
    border-bottom: 2px solid #000;
}

.form-container {
    display: block flex;
    justify-content: center;
    padding: 50px;
}

form {
    display: block;
}

.form-item {
    margin: 1rem 0;
}

form label:not(input[type="checkbox"] + label) {
    display: block;
}

input:not([type="checkbox"]), textarea {
    width: 15rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 100%;
}

textarea {
    height: 10rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 100%;
}

.form-controls {
    display: block flex;
    justify-content: flex-end;
    align-items: center;
}

.checkbox-item {
    display: block flex;
    justify-content: flex-start;
    align-items: center;
}

input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
}

.checkbox-item label {
    margin-left: 0.5rem;
}

.form-controls button {
    padding: 0.5em 1em;
    text-decoration: none;
    font-family: inherit;
    font-size: 100%;
    color: #000;
    background-color: transparent;
    border: none;
}

.form-controls button:focus {
    outline: 2px solid #000;
}

.form-controls button:hover {
    background-color: #EEE;
    cursor: pointer;
}
